:root {
    --fontfamily: -apple-system, BlinkMacSystemFont, sans-serif;
    --textcolor: #565656;
    --textcolor-fade: #818181;
    --textsize: 14px;
    --actioncolor: #0091e8;
    --errorcolor: red;
    --background: white;
    --background-highlight: #f9f9f9;
    --bordercolor: lightgray;

    /* layout and spacing */
    --padding-container: 10px;
}

@font-face { 
  font-family: "icons";
  src: url("/assets/media/iconsfont/icons.woff2");
}




html {
  width:  100vw;
  height: 100svh;
	/*
	*/
}


body {
	width: 100vw;
	height: 100svh;
	margin: 0;
	padding: 0;
	background-color:white;

	font-family: var(--fontfamily);
	font-size: var(--textsize);
    line-height: 1.2;
	color: var(--textcolor);
    -webkit-font-smoothing: antialiased;
}


#viewheader.viewheader {
	display: flex;
	width: 100vw;
	height: 34px;
	z-index: 10;
	padding: 8px 0px 0 0;
	box-sizing: border-box;
	justify-content: flex-start;
	overflow-x: hidden;
	overflow-y: hidden;
	background: white;
	border-radius: 18px 18px 0 0;

	& .left {
		display: block;
		width: 42px;
		padding-left: 2px;
		overflow: hidden;
		box-sizing: border-box;
		padding-top: 1px;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		white-space: nowrap;
		cursor: pointer;

		& span:nth-child(1) {
			display: inline-block;
			transform: rotate(-90deg) scaleX(1.3) translateX(0px);
			font-size: 19px;
			font-weight: 700;
			color: purple;
		}

		& span:nth-child(2) {
			display: inline-block;
			font-size: 16px;
			font-weight: 400;
			color: purple;
			padding-left: 10px;
			transform: translateY(-2px);
		}

		& i.icon-arrowleft1 {
			display: block;
			font-size: 16px;
			color: #9c9b9b;
			padding: 1px 12px 8px 8px;
			cursor: pointer;
		}
	}

	& .middle {
		width: 65%;
		box-sizing: border-box;

		& h1 {
			font-size: 18px;
			font-weight: bold;
			text-align: center;
		}
	}

	& .right {
		display: block;
		color: var(--actioncolor);
		width: calc(35% - 42px);
		text-align: right;
		box-sizing: border-box;
		padding-top: 3px;

		& > i {
			font-size: 22px;
			box-sizing: border-box;
			padding: 0px 12px 8px 9px;
			display: inline-block;
			cursor: pointer;
		}

		& > i:hover {
			background: var(--background-highlight);
		}
	}
}

#viewheader.viewheader.hidden {
	display: none;
}

#viewheader + #views {
	top: 34px;
	height: calc(100svh - 34px);
}

#viewheader.hidden + #views {
	top: 0;
	height: 100svh;
}




#views {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100svh;
	overflow: hidden;
	isolation: isolate;

	& .view {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100svh;
		translate: 100vw 0 0;
		overflow: hidden;
		contain: layout style paint;
	}
	& .view[data-active="true"] {
		translate: 0 0 0;
		z-index: 2;
	}
	& .view[data-previous="true"] {
		translate: -33vw 0 0;
		z-index: 1;
	}
}


#fetchlassy_overlay, #lazyload_overlay {
  display: none;
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

}
#fetchlassy_overlay.active, #lazyload_overlay.active {
  display: block;
}


.waiting_animate {
	display: none;
	z-index: 1001;
	position: absolute;
	top: 42%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	background: white;
	box-shadow: 0 0 20px 20px white;

	& > .spinner {
		display: inline-block;
		width: 50px;
		height: 50px;
		border: 3px solid #e1e1e1;
		border-radius: 50%;
		border-top-color: #0091e8;
		animation: spin 1s ease-in-out infinite;
	}
}
.waiting_animate.active {
	display: block;
}


@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

.alert-modal {
  display: none;
  position: fixed;
  box-sizing: border-box;
  padding-top: 132px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(241 241 241 / 75%);
  z-index: 9999;
}
.alert-modal.active {
  display: block;
}
.alert-content {
  background: white;
  width: 90%;
  max-width: 450px;
  margin: auto;
  min-height: 210px;
  max-height: 400px;
  box-shadow: 0 0 20px rgb(0 0 0 / 17%);
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid #cccccc;
}
.alert-content h1 {
  margin: 0;
  font-size: 22px;
  margin-bottom: 8px;
  padding-bottom: 11px;
  padding-top: 10px;
  border-bottom: 1px solid #e7e7e7;
  flex-shrink: 0;
}
.alert-msg-container {
  flex: 1;
  overflow-y: auto;
  margin: 20px 0;
  min-height: 40px;
}
.alert-msg-container p {
  margin: 0 0 10px 0;
  text-align: left;
  padding: 8px 12px;
  background: #f8f8f8;
  border-radius: 6px;
  border-left: 3px solid var(--errorcolor);
}
.alert-msg-container p:last-child {
  margin-bottom: 0;
}
.alert-content button {
  padding: 10px 20px 12px 20px;
  font-size: 16px;
  border: none;
  background: var(--actioncolor);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  flex-shrink: 0;
  margin-top: 20px;
}





#local_testing_purposes {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 9999;
}

#local_testing_purposes button {
	margin-left: 5px;
	padding: 4px 6px;
	font-size: 11px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}






::view-transition-old(wrapper-transition) {
	animation: 350ms cubic-bezier(0.2, 0.8, 0.2, 1) previouspage-slide-out;
}
::view-transition-new(wrapper-transition) {
	animation: 350ms cubic-bezier(0.2, 0.8, 0.2, 1) nextpage-slide-in;
}


:root.back-navigation::view-transition-old(wrapper-transition) {
	animation: 350ms cubic-bezier(0.2, 0.8, 0.2, 1) back-currentpage-slide-out;
	z-index: 2;
}
:root.back-navigation::view-transition-new(wrapper-transition) {
	animation: 350ms cubic-bezier(0.2, 0.8, 0.2, 1) back-previouspage-slide-in;
	z-index: 1;
}


@keyframes previouspage-slide-out {
	from { translate: 0 0 0; }
	to   { translate: -33vw 0 0; }
}
@keyframes nextpage-slide-in {
	from { translate: 100vw 0 0; }
	to   { translate: 0 0 0; }
}
@keyframes back-currentpage-slide-out {
	from { translate: 0vw 0 0; }
	to   { translate: 100vw 0 0; }
}
@keyframes back-previouspage-slide-in {
	from { translate: -33vw 0 0; }
	to   { translate: 0vw 0 0; }
}


@media only screen and (max-device-width: 767px) {

	#viewheader.viewheader {
		padding-top: 3px;
		height: 26px;
		
		& .left {
			padding-top: 0px;
		}

		& .right {
			padding-top: 0;

			& > i {
				padding-right: 15px;
			}
		}
	}

	#viewheader + #views {
		top: 26px;
		height: calc(100svh - 26px);
	}
}


