
div,span,h1,h2,h3,h4,h5,h6,p,button,td {
    margin: 0;
    padding: 0 0px 0 0;
	font-family: var(--fontfamily);
	font-size: var(--textsize);
    line-height: 1.2;
	color: var(--textcolor);
    -webkit-font-smoothing: antialiased;
}

a:hover {
    cursor: pointer;
}


div.wrapper {
    position: relative;
    display: block;
    box-sizing:  border-box;
    padding-top: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
	width: 100vw;
	height: 100svh;
    background-color: white;
    border-radius: 18px 18px 0 0; /* for in anime lower */
    z-index: 9;
}
div.wrapper.anime_lower {
	transform: translate3d(0, 9px, 0) scaleX(0.97);
	opacity: 0.5;
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	transition-timing-function:  cubic-bezier(0.1, 0.44, 0.52, 0.96);
}

header.viewheader {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 134px;
    z-index: 10;
    padding: 8px 0px 0 0;
    height: var(--viewheader-height);
    box-sizing: border-box;
    justify-content: flex-start;
    overflow-x: hidden;

    & .left {
        display: block;
        width: 42px;
        padding-left: 2px;
        overflow: hidden;
        box-sizing: border-box;
        padding-top: 1px;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        white-space: nowrap;

        & span:nth-child(1) {
            display: inline-block;
            transform: rotate(-90deg) scaleX(1.3) translateX(0px);
            font-size: 19px;
            font-weight: 700;
            color: purple;
        }

        & span:nth-child(2) {
            display: inline-block;
            font-size: 16px;
            font-weight: 400;
            color: purple;
            padding-left: 10px;
            transform: translateY(-2px);
        }

		& i.icon-arrowleft1 {
			display: block;
			font-size: 16px;
			color: #9c9b9b;
			padding: 1px 12px 8px 8px;
			cursor: pointer;
		}
    }

    & .middle {
        width: 65%;
        box-sizing: border-box;


        & h1 {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
        }
    }

    & .right {
        display: block;
        color: var(--actioncolor);
        width: calc(35% - 42px);
        text-align: right;
        box-sizing: border-box;
        padding-top: 3px;

        & > i {
            font-size: 22px;
            box-sizing: border-box;
            padding: 0px 12px 8px 9px;
            display: inline-block;
			cursor:pointer;
        }

		& > i:hover {
			background: var(--background-highlight);
		}
    }
}



ul.items {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    & > li {
        margin: 0;
        height: 52px;
        text-indent: 0;
        box-sizing: border-box;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 0;
        border-bottom-width: 0.5px;
        border-bottom-style: solid;
        border-bottom-color: var(--bordercolor);
		cursor: pointer;
        /*transition: border 0.8s ease-in-out;*/

        & > .thumbnail {
            padding-top: 0px;
            width: 48px;
            min-width: 48px;
            box-sizing: border-box;

            & img {
                width: 27px;
            }

            padding: 12px 0 0 12px;
        }


		/* h5 is only intended for title as first element */
		/* use .aux and/or .aux > h5 for more complex column layout in row */
        & > h5:first-child { 
            font-weight: 700;
            padding: 18px 6px 0 12px;
			flex-grow: 1;
            width: 125px;
            overflow: hidden;
            text-wrap: nowrap;
        }

		/* p is only intended for right aligned text as last element */
		/* use .aux and/or .aux > p for more complex column layout in row */
        & > p {
            font-weight: 400;
            padding: 18px 0px 0 0;
            color: var(--textcolor);
            flex-grow: 1;
            text-align: right;
        }
		& > p:last-child {
			padding-right: 12px;
		}

		& > .actions {
            display: flex;

			& > i.action {
				display: block;
				padding: 16px 8px 14px 13px;
				color: #c1c1c1;
				font-size: 18px;
				width: 20px;
				height: 20px;
				color: #8b8b8b;
				-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			}
		}


        & > i.indication {
            display: block;
            padding: 17px 8px 14px 13px;
            color: #c1c1c1;
            font-size: 18px;
            width: 20px;
            height: 20px;
        }

        & > i.indication.actioncolor {
            color: var(--actioncolor);
        }

        & > .aux {
            flex-grow: 1;


            & > h5 {
                font-weight: 500;
                white-space: nowrap;
                overflow: hidden;
                padding: 9px 0px 0 0px;
            }

            & > h6 {
                font-weight: 500;
            }
            & > h6.bits {
				display: flex;
				white-space: nowrap;
				overflow: hidden;
				text-overflow:clip;
				margin-bottom: 0px;
				

				& > span.bit {
					display: block;
					white-space: nowrap;
					overflow: hidden;
					text-overflow:clip;
				}
            }

            & > h6 + p {
                font-weight: 300;
            }
            & > h6 + p.bitslegend {
				display: flex;

				&> span.bit {
					color: var(--textcolor-fade);
					display: block;
					font-size: 11px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow:clip;
				}
            }

            & > i[class*=" icon-"].action {
                display: block;
                font-size: 18px;
                padding: 17px 0 0 0;
                color: rgb(189, 189, 189);
            }

            & i.icon-edit1.action {
                font-size: 20px;
                color: var(--actioncolor);
            }

            padding-top: 9px;
        }
    }
}

dl.define {
    & dt {
        font-weight: bold;
        float: left;
        display: block;
        width: 100px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    & dd {
        margin: 0;
        padding: 0 0 20px 0;
        display: block;
        width: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

span.justinput {
    display: inline-block;
    position: relative;
    width: 160px;

    & > input {
        font-size: var(--textsize);
        height: 35px;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-radius: 4px;
        border: 1px solid #dcdcdc;
        padding: 7px 5px 8px 8px;
        color: #6d6d6d;
        display: block;
        margin-top: 0;
        width: 100%;
        height: 39px;
    }
    & > input::placeholder {
        color: #b5b5b5;
    }

    & > i {
        color: #bdbdbd;
        font-size: 20px;
        position: absolute;
        top: 7px;
        left: 9px;
    }

    & > i + input {
        padding-left: 32px;
    }
}

span.justinput.search {
    & > input {
        border-radius: 25px;
        border: none;
        background: #e7f4f3;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    & > i {
        color: #a1a1a1;
    }
    & input::placeholder {
        color: #8b8989;
    }
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0);
}



i[class^="icon-"]:before,
i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-circles:before {
    content: "\f101";
}
.icon-trash:before {
    content: "\f102";
}
.icon-tripledot:before {
    content: "\f103";
}
.icon-copy:before {
    content: "\f104";
}
.icon-save:before {
    content: "\f105";
}
.icon-burger:before {
    content: "\f106";
}
.icon-add:before {
    content: "\f107";
}
.icon-list:before {
    content: "\f108";
}
.icon-piggy:before {
    content: "\f109";
}
.icon-bucket:before {
    content: "\f10a";
}
.icon-stopwatch:before {
    content: "\f10b";
}
.icon-pressure:before {
    content: "\f10c";
}
.icon-meter:before {
    content: "\f10d";
}
.icon-info:before {
    content: "\f10e";
}
.icon-graph:before {
    content: "\f10f";
}
.icon-location:before {
    content: "\f110";
}
.icon-refresh:before {
    content: "\f111";
}
.icon-search:before {
    content: "\f112";
}
.icon-tune:before {
    content: "\f113";
}
.icon-edit2:before {
    content: "\f114";
}
.icon-edit1:before {
    content: "\f115";
}
.icon-checkcircle:before {
    content: "\f116";
}
.icon-arrowright2:before {
    content: "\f117";
}
.icon-arrowleft1:before {
    content: "\f118";
}
.icon-arrowright1:before {
    content: "\f119";
}










@media only screen and (max-device-width: 767px) {

	header.viewheader {
		padding-top: 3px;
		height: 26px;
		
		& .left {
			padding-top: 0px;
		}

		& .right {
			padding-top: 0;

			& > i {
				padding-right: 15px;
			}
		}
	}
}









@media only screen and (min-device-width: 768px) {
}




@media (hover: hover) {
	ul.items > li:hover {
		background: var(--background-highlight);
	}

	ul.items > li i.action:hover {
		color: var(--actioncolor);
	}
}




@keyframes shimmer {
	0% { left: -100%; }
	100% { left: 100%; }
}

/* @media (hover: none) and (pointer: coarse) { */
	ul.items > li.clickity {
		position: relative;
		overflow: hidden;
		background-color: #fefefe;
	}

	ul.items > li.clickity::after {
		content: '';
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, transparent, rgba(147, 197, 253, 0.5), transparent);
		animation: shimmer .5s ease-in-out infinite;
	}
/* } */



