




:host {
    position: relative;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    padding: 0px 0px;
    border-radius: 22px;
    box-sizing: border-box;
    height: 36px;
    color: gray;
    background: linear-gradient(to bottom, white, #f7f7f7);
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
}

:host([btngroup]) {
    background: #e5e5e5;
    padding: 3px;
    gap: 0;
}

:host([btngroup]) #highlight {
    top: 3px;
    height: calc(100% - 6px);
    border-radius: 16px;
}

:host([btngroup]) #slotwrap {
    width: 100%;
}



:host([primary]) {
    border-color: white;
    background-color: var(--actioncolor);
}

:host([primary]) #slotwrap {
    color: white;
    transition: opacity 0.4s ease-in;
}


:host([small]) {
    padding: 0px 8px;
    height: 24px;
    font-weight: normal;
    font-size: 13px;
}


#slotwrap {
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
}





#highlight {
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    background: var(--actioncolor);
    border-radius: 19px;
    box-sizing: border-box;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12); */
    transition: transform 0.3s ease, width 0.3s ease;
    z-index: 0;
    pointer-events: none;
}


#highlight.hidden {
    display: none;
}



