
:host {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scrollbar-width: none;
	z-index: 1000;
	transition: opacity 300ms ease-out, transform 300ms ease-out;
	opacity: 1;
	transform: translateY(0);
}

:host(.anim-in.small) {
	opacity: 0;
	transform: translateY(200px);
}

:host(.anim-in.large) {
	opacity: 0;
	transform: translateY(100px);
}

:host::-webkit-scrollbar {
	display: none;
}

.spacer {
	height: 100vh;
	scroll-snap-align: start;
}

.wrapper {
	position: relative;
	height: 100vh;
	overflow-y: hidden;
	scroll-snap-align: start;
	padding: 45px 0 0 0;
	box-sizing: border-box;
	display: block;
}

.content {
	position: relative;
	background-color: white;
	padding: 30px;
	box-sizing: border-box;
	height: calc(100vh - 45px);
	border-radius: 8px 8px 0px 8px;
	box-shadow: 0 4px 14px 0px rgb(0 0 0 / 19%);
}

.content > header {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 12px;

    & .left {
        display: block;
        width: 20%;
        font-family: var(--fontfamily);
        font-size: 16px;
        font-weight: 400;
        color: var(--actioncolor);
        cursor: pointer;

		a {
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}
    }

    & .middle {
        display: block;
        width: 60%;

        & h1 {
			font-family: var(--fontfamily);
			-webkit-font-smoothing: antialiased;
			color: var(--textcolor);	
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            padding: 0;
            margin: 0;
        }
    }

    & .right {
        display: block;
        width: 20%;
        font-size: 16px;
        font-weight: 400;
        text-align: right;
        color: var(--actioncolor);
    }
}

.content > slot {
    display: block;
    overflow-y: auto;
}




