
:host {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scrollbar-width: none;
	z-index: 1000;
}

:host::-webkit-scrollbar {
	display: none;
}

.spacer {
	height: 100vh;
	scroll-snap-align: start;
}

.wrapper {
	position: relative;
	height: 100vh;
	overflow-y: hidden;
	scroll-snap-align: start;
	padding: 32px 0 0 0;
	box-sizing: border-box;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
	opacity: 0;
}

.content {
	position: relative;
	background-color: white;
	padding: 30px;
	box-sizing: border-box;
	height: calc(100vh - 32px);
	border-radius: 8px 8px 0px 8px;
	box-shadow: 0 4px 14px 0px rgb(0 0 0 / 19%);

	display:block;
	opacity:1;
	transform: translate3d(0, 0px, 0);

	transition-property:  opacity, display, transform;
	transition-duration:  400ms;
	transition-timing-function:  cubic-bezier(0, 0.46, 0, 1);

	@starting-style {
		opacity: 0;
		transform: translate3d(0, 40px, 0);
	}
}
.content.shape-float {
	height: calc(100vh - 50vh);
	width: calc(100vw - 64px);
	margin: 0 auto;
}
.content.shape-fill.transition-in {
	opacity: 0;
	display: none;
	transform: translate3d(0, 130px, 0);
}

.content.shape-float.transition-in {
	opacity: 0;
	display: none;
	transform: translate3d(0, 40px, 0);
}
.content.shape-fill.transition-out {
	opacity: 0;
	transform: translate3d(0, 130px, 0);
	transition-duration:  400ms;
	transition-timing-function:  cubic-bezier(0.46, 0.06, 1, 0.88);
}

.content.shape-float.transition-out {
	opacity: 0;
	transform: translate3d(0, 40px, 0);
	transition-duration:  200ms;
	transition-timing-function:  cubic-bezier(0.35, 0.15, 0.85, 0.64);
}



.content > header {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 12px;

    & .left {
        display: block;
        width: 20%;
        font-family: var(--fontfamily);
        font-size: 16px;
        font-weight: 400;
        color: var(--actioncolor);
        cursor: pointer;

		a {
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}
    }

    & .middle {
        display: block;
        width: 60%;

        & h1 {
			font-family: var(--fontfamily);
			-webkit-font-smoothing: antialiased;
			color: var(--textcolor);	
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            padding: 0;
            margin: 0;
        }
    }

    & .right {
        display: block;
        width: 20%;
        font-size: 16px;
        font-weight: 400;
        text-align: right;
        color: var(--actioncolor);
    }
}

.content > slot {
    display: block;
    overflow-y: auto;
}




