
:host {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scrollbar-width: none;
	scroll-behavior:  smooth;
	z-index: 1000;
}

:host::-webkit-scrollbar {
	display: none;
}


.spacer {
	display: none;
	height: 101vh;
	scroll-snap-align: start;
}

.spacer.active {
	display: block;
}


.wrapper {
	position: relative;
	height: 101vh;
	overflow-y: hidden;
	scroll-snap-align: start;
	overflow-y: hidden;
}

.content {
	position: absolute;
	display: block;
	top: 17px;
	left: 0;
	background-color: white;
	padding: 30px;
	box-sizing: border-box;
	border-radius: 12px 12px 0 0;
	box-shadow: 0 4px 14px 0px rgb(0 0 0 / 19%);
	z-index: 1001;
	opacity:0;

	transition-property: transform, opacity;
	transition-duration:  260ms;
	transition-timing-function:  cubic-bezier(0.04, 0.59, 0.4, 0.97);
}
.content.shape-fill {
	width: 100vw;
	height: calc(100vh - 17px);
	transform: translate3d(0, 100vh, 0);
}
.content.shape-float {
	height: calc(100vh - 72vh);
	width: calc(100vw - 64px);
	margin: 0 auto;
	transform: translate3d(0, 100vh, 0);
}
.content.transition-in {
	opacity: 1;
	transform: translate3d(0, 0vh, 0);
}

.content.shape-fill.transition-out {
	opacity: 0;
	transform: translate3d(0, 40px, 0);
	transition-duration:  350ms;
	transition-timing-function:  cubic-bezier(0.46, 0.06, 1, 0.88);
}

.content.shape-float.transition-out {
	opacity: 0;
	transform: translate3d(0, 40px, 0);
	transition-duration:  350ms;
	transition-timing-function:  cubic-bezier(0.35, 0.15, 0.85, 0.64);
}



.content > header {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 12px;

    & .left {
        display: block;
        width: 20%;
        font-family: var(--fontfamily);
        font-size: 16px;
        font-weight: 400;
        color: var(--actioncolor);
        cursor: pointer;

		a {
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}
    }

    & .middle {
        display: block;
        width: 60%;

        & h1 {
			font-family: var(--fontfamily);
			-webkit-font-smoothing: antialiased;
			color: var(--textcolor);	
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            padding: 0;
            margin: 0;
        }
    }

    & .right {
        display: block;
        width: 20%;
        font-size: 16px;
        font-weight: 400;
        text-align: right;
        color: var(--actioncolor);
    }
}

.content > slot {
    display: block;
    overflow-y: auto;
}




