


:host {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: none;
	scrollbar-width: none;
	z-index: 1000;
	visibility: hidden;
}
:host([readytoanimate]) {
	visibility: visible;
	scroll-snap-type: y mandatory;
}
/* :host( [shape="fill"] ) { */
/* } */

:host::-webkit-scrollbar {
	display: none;
}

.spacer {
	display: none;
	height: 100vh;
	width: 100vw;
	scroll-snap-align: start;
}
.spacer[shape="fill"] {
	display: block;
}

.spacer.active {
	display: block;
}


.wrapper {
	position: relative;
	height: 100vh;
	scroll-snap-align: start;
	overflow-y: hidden;
	padding-top: 18px;
	box-sizing: border-box;
}


.content {
	position: relative;
	display: block;
	background-color: white;
	padding: 0px;
	box-sizing: border-box;
	border-radius: 0 0 0 0;
	z-index: 1001;
	opacity: 0;
	/* overflow-y: hidden; */
}


.wrapper[shape="float"] .content {
	height: calc(100vh - 12vh);
	margin: 0 auto;
	border-radius: 12px 12px 12px 12px;
	box-shadow: 0px 13px 18px 0px rgb(0 0 0 / 29%);
	border-top: 1px solid #ededed;
	box-sizing: border-box;
}
.wrapper[shape="fill"] .content {
	width: 100vw;
	height: calc(100vh - 17px);
	box-shadow: 0 -1px 0px rgb(0 0 0 / 16%);
	border-radius: 25px 25px 0 0;
}
.wrapper[shape="float"] .content.floatsize-s { /* all the same for now */
	width: 480px;
}
.wrapper[shape="float"] .content.floatsize-m { /* all the same for now */
	width: 480px;
}
.wrapper[shape="float"] .content.floatsize-l { /* all the same for now */
	width: 480px;
}

.content > header {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 12px;
	font-size: 16px;
	color: var(--actioncolor);
	cursor: pointer;

	.left, .right { width: 20%; }

	a {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		cursor: pointer;
	}
	

    & .middle {
        width: 60%;

        & h1 {
			/* font-family: var(--fontfamily); */
			/* -webkit-font-smoothing: antialiased; */
			color: var(--textcolor);
			font-size: 18px;
			font-weight: bold;
			text-align: center;
			padding: 0;
			margin: 0;
			}
    }


    & .right {
        slot[name="headerright"]::slotted(*) {
            color: blue;
        }
        text-align: right;
    }
}

.content > slot {
    /* display: block; */
    /* overflow-y: hidden; */
}



.wrapper[shape="fill"] .swipe-indicator {
	margin: 4px auto;
	padding-top: 4px;
	

	> span {
		display: block;
		width: 35px;
		height: 5px;
		background-color: #d9d9d9;
		border-radius: 10px;
		margin: 0 auto;
	}
}




@media (max-width: 767px) {
	.wrapper {
		padding-top: 0px;
	}
}



