:host {
    -webkit-font-smoothing: antialiased;
    display: flex;
    -webkit-font-smoothing: antialiased;
    position: relative;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: nowrap;
    text-indent: 0;
    padding-left: 0;
    height: 52px;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: var(--bordercolor);
    padding-right: 0;
}



:host > label {
    overflow: hidden;
    text-wrap: nowrap;
    margin-right: 6px;
    font-family: var(--fontfamily);
    font-weight: 700;
    color: rgb(190 56 151);
    padding: 17px 0 0 11px;
}
:host > label::after {
    content: ":";
}


:host > section {
    position: relative;
    flex: 1;
    padding-right: 10px;
    padding-top: 6px;
    text-align: right;
    
    

	& > i.icon {
		display:block;
		position:absolute;
		padding: 13px 8px 14px 13px;
		right: 0px;
		width: 20px;
		height: 20px;
		opacity: 1;
		transition: 0.3s easeout;
		transition-property: opacity, transform;
	}
	& > i.icon::before {
		font-family: icons !important;
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        font-size: 18px;
		content: "\f114";
		font-size: 18px;
		color: #8b8b8b;
	}
	& > i.icon.icon-type0::before { /* input */
		content: "\f114";
	}
	& > i.icon.icon-type1::before { /* dselect */
		content: "\f114";
	}
	& > i.icon.icon-type2 { /* toggle switch */
		display: none;
	}
}
section.saving > i.icon {
	opacity: 0;
	transform: translate3d(0, 9px, 0);
}



input {
	font-size: var(--textsize);
	height: 35px;
	box-sizing: border-box;
	outline: none;
	border: none;
	border-radius: 4px;
	border: 1px solid #dcdcdc;
	padding: 9px 0px 8px 8px;
	color: #6d6d6d;
	display: block;
	margin-top: 0;
	width: 100%;
	height: 39px;
	border: none;
	text-align: right;
	transition: 0.3s ease-out;
	transition-property: filter;
}
input::placeholder {
	color: #b0b0b0;
}
input[type="date"] {
	font-family: var(--fontfamily);
	color: #6d6d6d;
	font-size: var(--textsize);
}
input[type="date"]::-webkit-calendar-picker-indicator {
	cursor: pointer;
	filter: invert(0.5);
}



c-dselect {
    padding: 10px 0 0 0;
}
c-dselect::part(instigator) {
}
section.saving c-dselect::part(instigator) {
}

span.switch {
    position: relative;
    display: inline-block;
    border-width: 1px;
    border-color: rgb(0 0 0 / 16%);
    border-style: solid;
    border-radius: 52px;
    background-color: #fff;
    width: 30px;
    height: 18px;
    user-select: none;
    margin-top: 10px;
    margin-right: 0px;
    transition: 0.4s cubic-bezier(0.73, 0.01, 0.28, 1);
    transition-property: background-color, border-color, transform;

    & > .inner {
        position: relative;
        display: block;
        width: 14px;
        height: 14px;
        margin-top: 2px;
        border-radius: 50%;
        background-color: #d9dadc;
        user-select: none;
        transform: translateX(2px);
		transition: 0.4s cubic-bezier(0.73, 0.01, 0.28, 1);
		transition-property: background-color, transform;
    }
}
span.switch.istrue {
    border-color: rgba(255, 255, 255, 0);
    background-color: #36cf90;

    & > .inner {
        background-color: white;
        transform: translateX(14px);
    }
}

c-animeffect {
	position: absolute;
	opacity: 1;
	top: 18px;
	right: 9px;
	width: 18px;
	height: 18px;
}
c-animeffect.active {
	opacity: 1;
}

c-dselect + c-animeffect {
	top: 8px;
	right: 5px;
}


span.switch + c-animeffect {
	top: 7px;
	right: 3px;
}




/* Hide spinners everywhere */
input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}


/* Custom number spinner buttons */
.number-spinner {
	display: flex;
	gap: 6px;
	align-items: stretch;
	width: 100%;
}

.number-spinner input {
}

.spinner-buttons {
	display: flex;
	flex-direction: column;
	gap: 2px;
	justify-content: center;
}


.spinner-btn {
	width: 16px;
	height: 15px;
	padding: 0;
	margin: 0;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	background-color: #f9f9f9;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s ease-out;
	transition-property: background-color, border-color, opacity;
}

.spinner-btn:hover:not(:disabled) {
	background-color: #f0f0f0;
	border-color: #b0b0b0;
}

.spinner-btn:active:not(:disabled) {
	background-color: #e8e8e8;
}

.spinner-btn:disabled {
	opacity: 0.4;
	cursor: not-allowed;
}




.spinner-btn i.icon {
	/* width: 6px; */
	/* height: 12px; */
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: icons !important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.spinner-btn.spinner-up i.icon::before {
	content: "\f119"; /* _01_arrowright1 rotated up */
	transform: rotate(-90deg);
	display: block;
	font-size: 8px;
	color: #5f5f5f;
}

.spinner-btn.spinner-down i.icon::before {
	content: "\f119"; /* _01_arrowright1 rotated down */
	transform: rotate(90deg);
	display: block;
	font-size: 8px;
	color: #5f5f5f;
}
