
:host {
}

.spin {
    display: block;
    width: 100%;
    height: 100%;
    background: none;
    opacity: 0;
	transform: translate3d(0, -90px, 0);
    transition: 3s ease-out;
	transition-property: opacity, transform;

    & > .spinner {
		display: block;
		width: 100%;
		height: 100%;
		border: 3px solid #f3f3f3;
		box-sizing: border-box;
		border-radius: 50%;
		border-top-color: #0091e8;
		animation: spin 1s ease-in-out infinite;
    }
}
:host([active]) .spin {
	opacity:  1;
	transform: translate3d(0, 0, 0);
}
@starting-style {
    :host([active]) .spin {
		display: block;
        opacity: 0;
		transform: translate3d(0, -90px, 0);
    }
}
.spin.blur {
    box-shadow: 0 0 20px 20px white;
}




@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
